@font-face {
    font-family: 'xperia';
    src: url(fonts/Xperia.ttf);
    font-style:normal;
    font-weight:100;
}


body {
    font-family: Arial, sans-serif;
    background-color: #0c0f12;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items:center;
    background-color: black;
    color:white;
    font-size:30px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 75px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ff0000;
}

.join-now-btn {
    background-color: #ff0000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.join-now-btn:hover {
    background-color: white;
    color:black;
}
nav {
    font-family: xperia;

}
.navbar-logo a {
    font-style: none;
    text-decoration:none;
    color:white;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1360px)
{
    .navbar {
        font-size:20px;
        width:90%;
    }
}
@media (max-width:1069px)
{
    .navbar {
        font-size:15px;
        width:90%;
    }
}
@media (max-width:885px)
{
    .navbar {
        font-size:13px;
        width:90%;
    }
    .navbar-logo img {
        height: 50px;
    }
}
@media (max-width:761px)
{
    .logo-text {
        visibility: collapse;
    }
    .navbar-links {
        flex-direction:column;
    }
    .navbar-links li {
        font-size:12px
    }
    .navbar-logo img {
        width:200px;
        height:100px;
    }
}
@media (max-width:611px)
{
    .navbar-links li {
        font-size:5px;
    }
    .join-now-btn {
        width: 200px;
        margin: 0;
    }
}