body {
    color:white;
    font-family: montserrat;
}

.page-heading {
    text-align: center;
    width:80%;
    margin: 0 auto;
}

.page-heading h1 {
    font-size:65px;
}
.page-heading p {
    font-size:30px;
}

.text-section {
    margin:0 auto;
    width: 90%;
}
.text-section p {
    font-size:27px;
    font-weight:650;
}
.text-section li {
    font-size:23px;
    font-weight:450;
}
.text-section h1 {
    text-align: center;
    font-size:50px;
    font-weight: 700;
}
.big-section {
    width: 100%;
    margin : 0 auto;
    background-color: rgba(0, 0, 0, 0.85)
}

.text-section .p-text {
    text-align: center;
    font-size:28px;
    font-weight:550
}

.meet-our-team h1 {
    text-align: center;
    font-size:55px;
    font-weight: 700;
}

.team-container {
    display:flex;
    justify-content: space-around;
}
.team-box {
    width:350px;
    height:470px;
    background-color: gray;
    border-radius:10px;
    text-align:center;
}
.team-box img {
    width:350px;
    height:350px;
    border-radius:10px;
    margin: auto;
}