body {
    color:white;
    font-family: montserrat;
}

.page-heading {
    text-align: center;
    width:80%;
}

.page-heading h1 {
    font-size:65px;
}
.page-heading p {
    font-size:30px;
}

.text-section {
    width: 90%;
}
.text-section p {
    font-size:27px;
    font-weight:650;
}
.text-section li {
    font-size:23px;
    font-weight:450;
}
.text-section h1 {
    text-align: center;
    font-size:50px;
    font-weight: 700;
}
.big-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.text-section .p-text {
    text-align: center;
    font-size:28px;
    font-weight:550
}

.meet-our-team{
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.meet-our-team h1 {
    text-align: center;
    font-size:55px;
    font-weight: 700;
}

.team-container {
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.team-box {
    width:350px;
    height:470px;
    background-color: gray;
    border-radius:10px;
    text-align:center;
}
.team-box img {
    width:350px;
    height:350px;
    border-radius:10px;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #FFF, transparent);
    margin: 15px auto;
    width: 80%;
}