.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.introduction video {
    width: 850px;
    height: 550px;
    object-fit: cover;
}
.main-title
{
    font-family:georgia;
    color:white;
    font-size:70px;
    text-align:center;
}
.main-page-p{
    font-family:Georgia;
    color:white;
    font-size:35px;
}
.undertext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.undertext_1{
    color:rgb(172, 172, 172);
    font-size:27px;
}
.number{
    color:red;
    font-size:27px;
}

.join-now-btn-mainpage {
    background-color: #ff0000;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-family:xperia;
    font-size:40px;
    padding: 1.3rem 6rem;
}

.join-now-btn-mainpage:hover {
    background-color: white;
    transition: color 0.4s ease;
    color:#ff0000
}
.join-now-btn-div {
    display:flex;
    justify-content: center;
}
.info-section {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#11151a;

}
.info-heading{
    color:white;
    text-align:center;
    font-size:70px;
}
.info-small-title {
    color:white;
    font-size:35px;
    font-weight:400;
}
.info-ul li {
    color:white;
    font-size:23px;
}
.info-title-div {
    display:flex;
    flex-direction: column;
    border-radius:10px;
    
}
.info-img-div {
    display:flex;
    width:100%;
    height:500px;
}
.info-img-div img {
    width:800px;
    height:500px;
    border-radius:60px;
    padding: 3rem 3rem;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 15px auto;
    width: 80%;
}
.ending_text{
    color:white;
    text-align:center;
    font-size:30px;
}