body {
    font-family: montserrat;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.homevideo {
    margin-top:-25px;
    width: 850px;
    height: 550px;
}
.main-title
{
    color:white;
    font-size:75px;
    text-align:center;
}
.main-title-low
{
    margin-top:-15px;
    color:white;
    font-size:75px;
    text-align:center;
}
.main-page-p{
    color:white;
    font-size:33px;
    margin-top:-10px;
}
.undertext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
}
.undertext_1{
    color:rgb(172, 172, 172);
    font-size:27px;
}
.number{
    color:red;
    font-size:27px;
}

.join-now-btn-mainpage {
    background-color: #ff0000;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-family:xperia;
    font-size:40px;
    padding: 1.3rem 6rem;
    margin-top:15px;
    margin-bottom:35px;
}

.join-now-btn-mainpage:hover {
    transition: color 0.6s ease;
    background-color: white;
    color:#ff0000
}
.join-now-btn-div {
    display:flex;
    justify-content: center;
}
.info-section {
    background-color:#11151a;
}
.info-heading{
    color:white;
    text-align:center;
    font-size:65px;
    padding: 25px 0;
}
.info-small-title {
    color:white;
    font-size:37px;
    font-weight:400;
}
.info-ul li {
    color:white;
    font-size:25px;
}
.info-title-div {
    display:flex;
    flex-direction: column;
    border-radius:10px;
    
}
.info-img-div {
    display:flex;
    width:100%;
    height:500px;
}
.info-img-div img {
    width:800px;
    height:500px;
    border-radius:60px;
    padding: 3rem 3rem;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 15px auto;
    width: 80%;
}
.ending_text{
    color:white;
    text-align:center;
    font-size:30px;
    padding: 30px 40px 75px;
}
@media (max-width:1283px) {
    .main-title {
        font-size:50px;
    }
    .main-title-low {
        font-size:50px;
    }
    .main-page-p {
        font-size:20px;
    }
    .homevideo {
        width: 550px;
        height: 350px;
    }
    .undertext_1{
        font-size:20px;
    }
    .number{
        font-size:20px;
    }
    .join-now-btn-mainpage {
        padding: 1rem 4rem;
        border-radius: 40px;
        font-size:30px;
    }
    .info-heading{
        font-size:45px;
    }
    .info-small-title {
        font-size:25px;
    }
    .info-img-div img {
        width:550px;
        height:400px;
    }
    .info-ul li {
        font-size:22px;
    }
    .ending_text{
        font-size:25px;
    }
}
@media (max-width:823px) {
    .info-small-title {
        font-size:23px;
    }
    .info-ul li {
        font-size:20px;
    }
    .ending_text{
        font-size:23px;
    }
}
@media (max-width:763px) {
    .info-small-title {
        font-size:21px;
    }
    .info-ul li {
        font-size:18px;
    }
    .ending_text{
        font-size:20px;
    }
}
@media (max-width:715px) {
    .info-img-div {
        flex-direction: column;
        text-align:center;
        height:700px;
    }
    .info-img-div img {
        width:650px;
    }
}
@media (max-width:650px) {
    .main-title {
        font-size:35px;
    }
    .main-page-p {
        font-size:17px;
    }
    .homevideo {
        width: 450px;
        height: 350px;
    }
    .undertext_1{
        font-size:17px;
    }
    .number{
        font-size:17px;
    }
    .join-now-btn-mainpage {
        padding: 0.7rem 3rem;
        border-radius: 40px;
        font-size:30px;
    }
    .info-heading{
        font-size:35px;
    }
    .info-small-title {
        font-size:23px;
    }
}