.subscription-boxes {
    display:flex;
    justify-content: space-around;
    margin-top: 110px;
}

.box {
    background-color: #a1a1a1;
    border-radius: 8px;
    padding: 20px;
    width: 450px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box p {
    font-size: 1;
    margin-bottom: 0px;
}

.box ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.box ul li {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}
