.subscription-boxes {
    display:flex;
    justify-content: space-around;
}

.box {
    background-color: #a1a1a1;
    border-radius: 8px;
    padding: 20px 30px;
    width: 450px;
    opacity: 0.9;
    font-family: "Josefin Sans";
    margin-top:5vw;
    height:425px;
}
li {
    font-size:25px;
}
.div-heading {
    font-size:40px;
}
.price {
    font-size:30px;
}
.benefits {
    display: flex;
    flex-direction: column;
    gap:15px;
}
button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Josefin Sans"; 
    width:100%;
    font-size:20px;

}

button:hover {
    background-color: #b30000;
}