.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction video {
    width: 800px;
    height: 500px;
    object-fit: cover;
}
h1
{
    font-family:Georgia;
    font-style:italic;
    color:white;
    font-size:75px;
    text-align:center;
}
.main-page-p{
    font-family:Georgia;
    color:white;
    font-style:italic;
    font-size:35px;
}
.undertext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.undertext_1{
    color:gray;
    font-size:25px;
}
.number{
    color:red;
    font-size:25px;
}