.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction video {
    width: 800px;
    height: 500px;
    object-fit: cover;
}
.main-title
{
    font-family:georgia;
    font-style:italic;
    color:white;
    font-size:70px;
    text-align:center;
}
.main-page-p{
    font-family:Georgia;
    color:white;
    font-style:italic;
    font-size:35px;
}
.undertext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.undertext_1{
    color:gray;
    font-size:27px;
}
.number{
    color:red;
    font-size:27px;
}

.join-now-btn-mainpage {
    background-color: #ff0000;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-family:xperia;
    font-size:40px;
    padding: 1.3rem 6rem;
}

.join-now-btn-mainpage:hover {
    background-color: white;
    transition: color 0.4s ease;
    color:#ff0000
}
.join-now-btn-div {
    display:flex;
    justify-content: center;
}

.info-heading{
    color:white;
    text-align:center;
    font-size:65px;

}