@font-face {
    font-family: 'xperia';
    src: url("../fonts/Xperia.ttf");
    font-style:normal;
    font-weight:100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'xperia';
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 75px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar-links li{
    text-align: center;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    transition:0.3s;
}
.logo-text {
    transition:0.3s;
}
.navbar-links a:hover {
    color: #ff0000;
}

.join-now-btn {
    background-color: #ff0000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.join-now-btn:hover {
    background-color: white;
    transition:0.4s;
}
.navbar-logo a {
    font-style: none;
    text-decoration:none;
    color:white;
}
.navbar-logo a:hover {
    color:rgb(168, 167, 167);
    transition: 0.3s;
}

@media (max-width:1420px)
{
    .navbar-links a, .logo-text {
        font-size:20px;
    }
}

@media (max-width:1060px)
{
    .navbar-links a, .logo-text {
        font-size:15px;
    }
}

@media (max-width:865px)
{
    .navbar-links a, .logo-text {
        font-size:13px;
    }
    .navbar-logo img {
        height: 50px;
    }
    .logo-text {
        transition:0s;
    }
}

@media (max-width:749px)
{
    .navbar {
        justify-content: space-evenly;
        padding: 30px 15px;
    }
    .logo-text {
        visibility: collapse;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links a {
        font-size:23px;
    }

    .navbar-logo img {
        width:200px;
        height:100px;
    }

}

@media (max-width:605px)
{
    .join-now-btn {
        display: block;
        text-align:center;
    }
}



