body {
    font-family:montserrat;
}
.review-title {
    color:white;
    font-weight:bold;
    text-align:center;
    font-size:65px;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #FFF, transparent);
    margin: 15px auto;
    width: 80%;
}
.subheading {
    color:white;
    text-align: center;
    font-size:35px;
}
.grid-container {
    width:80%;
    margin:auto;
}
.grid-item {
    padding:10px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width:100%;
    border:solid #aa9797;
}
@media (max-width:1422px) {
    .review-title {
        font-size:50px;
    }
    .subheading {
        font-size:30px;
    }
}
@media (max-width:1120px) {
    .grid-item .img1 {
        height:300px;
    }
    .grid-item .img2 {
        height:100px;
    }
    .grid-item .img3 {
        height:250px;
    }
    .grid-item .img4 {
        height:100px;
    }
}
@media (max-width:1062px) {
    .review-title {
        font-size:40px;
    }
    .subheading {
        font-size:25px;
    }
}
@media (max-width:868px) {
    .review-title {
        font-size:30px;
    }
    .subheading {
        font-size:20px;
    }
    .grid-item .img1 {
        height:310px;
    }
    .grid-item .img2 {
        height:110px;
    }
    .grid-item .img3 {
        height:260px;
    }
    .grid-item .img4 {
        height:110px;
    }
}