body {
    font-family:montserrat;
} 
h1 {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 15px auto;
    width: 80%;
}
p {
    color: #FFF;
    text-align: center;
    font-size: xx-large;
}
.grid-container {
    display: grid;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.grid-item {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border:solid #aa9797;
}
