.center{
    position: absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    width:500px;
    height:650px;
    background-color:white;
    border-radius:10px;
    font-family: "Montserrat";
}
.center h1{
    text-align:center;
    padding:35px 0 35px 0;
    border-bottom:1px solid silver;
    font-size:40px;
}
.center form {
    padding: 0 40px;
}
form .text-field {
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.text-field input {
    width:100%;
    padding: 0 5px;
    height: 50px;
    font-size:18px;
    border:none;
}
.text-field label {
    position:absolute;
    top:50%;
    left:5px;
    color:#adadad;
    font-size:18px;
    pointer-events:none;
    transition: 0.5s;
}
.text-field span::before{
    content: '';
    position: absolute;
    top:50px;
    left:0;
    width:0%;
    height: 2px;
    background:red;
    transition: 0.5s;
}
.text-field input:focus ~ label, 
.text-field input:valid ~ label {
    top: -5px;
    color: red;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
    width:100%;
}
input[type="submit"] {
    width:100%;
    height:60px;
    border: 1px solid;
    background-color:red;
    border-radius:35px;
    font-size:20px;
    color:White;
    font-weight:700;
    cursor:pointer;

}
input[type="submit"]:hover {
    border-color:darkred;
    transition: 0.5s;
}

@media (max-width:865px) {
    .center{
        width:400px;
        height:550px;
    }
}
@media (max-width:749px) {
    .center{
        height:600px;
        top:72%;
    }
}
@media (max-width:605px) {
    .center{
        top:77%;
    }
}
@media (max-width:509px) {
    .center{
        top:82%;
    }
}
@media (max-width:430px) {
    .center{
        top:80%;
        height:550px;
        width:350px;
    }
}